$font-stack: Helvetica, sans-serif;

.movies-container {
  .tab-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;

    .tab {
      padding: 10px 20px;
      border: none;
      background: none;
      color: rgb(150, 150, 150);
      cursor: pointer;
      font-size: 24px;

      &.active {
        color: white;
        text-decoration: underline;
      }
    }
  }

  .movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
}

.no-films {
  font: 100% $font-stack;
  font-size: 24px;
  color: white;
  padding: 20px 0 0 20px;
}
