$font-stack: Helvetica, sans-serif;

.movies-container {
  h2 {
    margin-inline: 20px 0;
    margin-block: 20px 0;
    text-align: left;
    font: 100% $font-stack;
    font-size: 24px;
    color: white;
  }

  .movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
}

.no-films {
  font: 100% $font-stack;
  font-size: 24px;
  color: white;
  padding: 20px 0 0 20px;
}
